<!doctype html>
<title>{% block title %}{% endblock %} - BGS Tool</title>
<script src="{{ url_for('static', filename='angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='ui-bootstrap-tpls-2.5.0.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>BGS Tool</h1>

</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>