/*html { font-family: "Euro Caps"; background: #222; padding: 1rem; color:orange;}
body { max-width: 960px; margin: 0 auto; background: black; }
h1 { font-family: "Euro Caps"; color: orange; margin: 1rem 0; }
h2 { font-family: "Euro Caps"; color: orange; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid black; }
nav { background: black; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid orange; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #555; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; color: orange}
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }

.tab_button { 
  color: white;
  align-self: start; 
  min-width: 10em; 
  font-family: "Euro Caps";
  padding: 2px 2px;
  width: 60px;
  height:22px;
  border:solid;
  border-color:orange;
  background-color:#fbbd2d;
  border-width:1px;
  cursor:pointer;
  margin:2px
 }
li {
	color: white;
  align-self: start; 
  min-width: 10em; 
  font-family: "Euro Caps";
  border:solid;
  border-color:orange;
  background-color:#fbbd2d;
  border-width:1px;
  cursor:pointer;
}
label {font-family: "Euro Caps";color:orange;}
table { border:solid;border-width:1px;border-color:orange;border-collapse: collapse;width:100%;height:100%}
table th { border:solid;border-width:1px;border-color:orange;padding:5px;background-color: orange;color:#ffffff;font-family: "Euro Caps";}
table td { border:solid;border-width:1px;border-color:orange;padding:5px;color:orange;font-family: "Euro Caps";}

input.danger { color: #cc2f2e; }
input[name=star_system] {
  width: 15em;
  font-family: "Verdana";
  border: 2px solid orange;
  border-radius: 4px;
  margin: 5px;
}
input[type=submit] { 
  color: orange;
  align-self: start; 
  min-width: 10em; 
  font-family: "Euro Caps";
  padding: 2px 2px;
  width: 60px;
  height:22px;
  border:solid;
  border-color:orange;
  background-color:black;
  border-width:1px;
  cursor:pointer;
 }
form[id=systeminfo] { 
  display: inline-block;
}*/

body {
	color:orange;
	font-family: "Euro Caps";
}

li {
  color: white;
  align-self: start; 
  font-family: "Euro Caps";
  border:solid;
  border-color:orange;
  background-color:#fbbd2d;
  border-width:1px;
  cursor:pointer;
}

.bgstool-tab_button { 
  color: white;
  align-self: start; 
  min-width: 10em; 
  font-family: "Euro Caps";
  padding: 2px 2px;
  width: 60px;
  border:solid;
  border-color:orange;
  background-color:#fbbd2d;
  border-width:1px;
  cursor:pointer;
  margin:2px
 }

.bsgtool-nav-left {
  display: inline-block;
  vertical-align: top;
  width: 20em;
  background-color:#ff0000;
  border:solid;
  border-color:#990000;
  bottom: 100%;
}
.bsgtool-nav-right {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  background-color:#ff0000;
  border:solid;
  border-color:#990000;
  align:right;
}
.bsgtool-column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  background-color:#000000;
  border:none;
  border-color:#009900;
}

.bsgtool-container {
  background-color:#eeeeee;
  border:none;
  border-color:#aaaaaa;
  position: relative;
}

.bsgtool-section {
  background-color:#cccccc;
  border:solid;
  border-color:#aaaaaa;
  margin:1px;
}

label {font-family: "Euro Caps";color:orange;}
table { 
  border:solid;
  border-width:1px;
  border-color:orange;
  border-collapse: collapse;
  width:100%;
  background-color:#000000;
  }
table th { 
  border:solid;
  border-width:1px;
  border-color:#000000;
  padding:5px;
  background-color: orange;
  color:#ffffff;
  font-family: "Euro Caps";
  max-height:1em;
  }
table td {
  border:solid;
  border-width:1px;
  border-color:orange;
  padding:5px;
  color:orange;
  font-family: "Euro Caps";
  width:1%;
  white-space:nowrap;
  }

.tab_button { 
  color: white;
  align-self: start; 
  min-width: 10em; 
  font-family: "Euro Caps";
  padding: 2px 2px;
  width: 60px;
  border:solid;
  border-color:orange;
  background-color:#fbbd2d;
  border-width:1px;
  cursor:pointer;
  margin:2px
 }

.searchbox {
	padding:5px;
}

.left-menu-option {
	background-color: #550000;
	width:10px;
}

.footer {
	border:solid;
}